.venv/
__pycache__/
.pytest_cache/
.tmp.driveupload
.tmp.drivedownload
*.db
scratch/
output/*
!output/tosca_enterprise_report.html
!output/tosca_enterprise_report_full_report.xlsx
tests/__pycache__/
metadata_info.txt
